.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}
.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%, 500px);
}
.place-order .cart-total button{
    margin-top: 30px;
}

/* DARK MODE STYLING (:root) */

/* 1. Tiêu đề */
:root .title {
    color: white;
}

/* 2. Style chung cho TẤT CẢ INPUTS */
:root .place-order-left input {
    background-color: black !important;
    color: white !important;
    border: 1px solid #777;
}

/* 3. Style Placeholder */
/* Quy tắc chung */
:root .place-order-left input::placeholder {
    color: white !important;
    opacity: 0.7;
}
/* Vendor Prefixes */
:root .place-order-left input::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.7;
}
:root .place-order-left input:-ms-input-placeholder {
    color: white !important;
    opacity: 0.7;
}
:root .place-order-left input::-moz-placeholder {
    color: white !important;
    opacity: 0.7;
}


/* LIGHT MODE STYLING */
/* 1. Tiêu đề */
.lightcolors .title {
    color: black;
}

/* 2. Style chung cho TẤT CẢ INPUTS  */
.lightcolors .place-order-left input {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ccc;
}

/* 3. Style Placeholder

.lightcolors .place-order-left input::placeholder {
    color: black !important;
    opacity: 0.5;
}
/* Vendor Prefixes */
.lightcolors .place-order-left input::-webkit-input-placeholder {
    color: black !important;
    opacity: 0.5;
}
.lightcolors .place-order-left input:-ms-input-placeholder {
    color: black !important;
    opacity: 0.5;
}
.lightcolors .place-order-left input::-moz-placeholder {
    color: black !important;
    opacity: 0.5;
}

:root .multi-fields input {
    background-color: black;
    color: white;
}

:root .multi-fields input::placeholder {
    color: white;
}


.lightcolors .multi-fields input {
    background-color: white;
    color: black;
}
.lightcolors .multi-fields input::placeholder {
    color: black;
}